@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'),
  url('~fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular Italic'), local('Raleway-Regular-Italic'),
  url('~fonts/Raleway-Regular-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold'), local('Raleway-Bold'),
  url('~fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold Italic'), local('Raleway-Bold-Italic'),
  url('~fonts/Raleway-Bold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black'), local('Raleway-Black'),
  url('~fonts/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black Italic'), local('Raleway-Black-Italic'),
  url('~fonts/Raleway-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
