@mixin ratiobox($w,$h) {
  width: 100%;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: (100%/$w*$h);
  }
}
@mixin work-layout {

  * {
    background-color: rgba(#000, .05);
  }
}
